In [34]:
a=("a", "v", "c", "d", "f", "m")
len (a)
print (a[2])

#последний i-1
# предпоследний 
print (a [-2])
print (a [:-2])
print (a [0:5])
print (a[0 :len (a) :2]) #В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).

print (a [1: :2])  # В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.

print (a [-1: : -1]) #шагаем назад. step = -1. 

print (a [-1: : -2])

print (len (a))

c
f
('a', 'v', 'c', 'd')
('a', 'v', 'c', 'd', 'f')
('a', 'c', 'f')
('v', 'd', 'm')
('m', 'f', 'd', 'c', 'v', 'a')
('m', 'd', 'v')
6

In [30]:
#Здаание: вывести символы с четвертого по двенадцатый включительно в обратном порядке с шагом 3.

c = ("абвгдежзиклмно")
print (c[11:2:-3]) #надо интервал указвать в обратную сторону тоже.Чтобы перевернуть спискок - делаем отрицательный шаг step= -x.
# то есть список не переворачивается, а Питон его читает наоборот, начиная с последнего символа. 
# чтобы границу четырех сдвинуть - надо еще сдвинуть на -1. Он был 3, а надо 2.

мие

In [31]:
# [i],[a:b], [a:b:step] a и b - индексы

In [41]:
a = input ("Напишите слово: ")
b = a [ : :-1]

if a == b:
    print ("Yes")
else:
    print ("No")

Напишите слово: hfh
Yes

In [ ]:
# строку в число: c = int (input ("введите число))

In [40]:
my_list = ['one', 'two', 'three']
elem = input()
my_list.append(elem)
print (my_list)
len(my_list)

ghg
['one', 'two', 'three', 'ghg']

4